# Versioning
.git
.gitignore
.github

# Dependencies
**/node_modules
**/dist
**/.next
**/.nuxt
**/.output

# Dev files
.data
.env*
.editorconfig
Dockerfile
.dockerignore

# CI/CD
.gitlab-ci.yml
.circleci
