# Better Auth
BETTER_AUTH_SECRET=<better-auth-secret>
BETTER_AUTH_URL=http://localhost:3000

# GitHub Social Provider
GITHUB_CLIENT_ID=<github-client-id>
GITHUB_CLIENT_SECRET=<github-client-secret>

# Drizzle
DATABASE_URL=postgres://postgres:postgres@localhost:5432/tt
